<p>Hi <%= @user.username %>,</p>

<p>THIS IS YOUR INVOICE !!!!</p>

<%= @contract.project.name %>
<%= @contract.investment %>
<%= @contract.uhi %>%
<%= @contract.biodiversity %>
<%= @contract.water_infiltration %>m³
<%= @contract.local_food %>%


<p>See ya!</p>
