<tr class="text-center align-middle">
  <th width="150px">    
    <strong> <%= project.name %></strong>
  </th>
  <td><p><%= project.uhi %></p></td>
  <td><p><%= project.water_infiltration %></p></td>
  <td><p><%= project.biodiversity %></p></td>
  <td><p><%= project.local_food %></p></td>
</tr>
