<tr class="text-center align-middle">
  <td>
    <i class="fas fa-grip-lines"></i>
    <strong> <%= truncate(project.name, length: 15) %></strong>
  </td>
  <td><p><%= project.uhi %></p></td>
  <td><p><%= project.water_infiltration %></p></td>
  <td><p><%= project.biodiversity %></p></td>
  <td><p><%= project.local_food %></p></td>
</tr>
