<tr class="text-center align-middle">
  <td align="left">
    <i class="fas fa-grip-lines text-secondary"></i>
    <%= link_to project_path(project) do %>
      <strong class="text-nowrap text-center"> <%= project.name %></strong>
    <% end %>
  </td>
  <td><p><%= project.uhi %></p></td>
  <td><p><%= project.water_infiltration %></p></td>
  <td><p><%= project.biodiversity %></p></td>
  <td><p><%= project.local_food %></p></td>
</tr>
