<tr class="text-center align-middle">
  <td align="left">
    <i class="fas fa-grip-lines text-secondary"></i>
    <a data-toggle="collapse" data-target="#collapseProject<%= project.id %>">
      <%= project.name %>
    </a>
  </td>
  <td><p>-<%= project.uhi %>°C</p></td>
  <td><p><%= project.water_infiltration %>m³</p></td>
  <td><p><%= project.biodiversity %></p></td>
  <td><p><%= project.local_food %>%</p></td>
</tr>
