<tr class="text-center align-middle sort-transition">
  <td width="150px">
    <strong> <%= project.name %></strong>
  </td>
  <td><p><%= project.uhi %></p></td>
  <td><p><%= project.water_infiltration %></p></td>
  <td><p><%= project.biodiversity %></p></td>
  <td><p><%= project.local_food %></p></td>
</tr>
