
<div class="container-fluid">
<div class="row">
  <div class="col my-auto p-5">
    <%= simple_form_for [@project, @contract] do |f| %>
      <%= f.input :investment %>
      <input  type="range"
              id="investRange"
              class="custom-range"
              name="investRange"
              min="0"
              max="100"
              value="90"
              step="1"
              data-cap="<%= @project.investment_cap %>">
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div
    class="col"
    id="investProjectMap"
    style="width: 100%; height: 100vh;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
</div>
