
<div class="container-fluid">
  <h2><%= @project.name %></h2>
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <div class="variable-impact d-flex flex-column">
          <div class="impact-top d-flex justify-content-between">
            <div class="impact-calculation border border-primary rounded text-center m-2 p-2" data-value="<%= @project.uhi %>">
              <h4>-<%= @project.uhi %>°C</h4>
              <h5>Chaleur Urbain</h5>
            </div>
            <div class="impact-calculation border border-primary rounded text-center m-2 p-2" data-value="<%= @project.water_infiltration %>">
              <h4><%= @project.water_infiltration %>m³</h4>
              <h5>Infiltration d'eau</h5>
            </div>
          </div>
          <div class="impact-bottom d-flex justify-content-between">
            <div class="impact-calculation border border-primary rounded text-center m-2 p-2" data-value="<%= @project.biodiversity %>">
              <h4><%= @project.biodiversity %></h4>
              <h5>Biodiversité</h5>
            </div>
            <div class="impact-calculation border border-primary rounded text-center m-2 p-2" data-value="<%= @project.local_food %>">
              <h4><%= @project.local_food %>%</h4>
              <h5>Nourriture Locale</h5>
            </div>
          </div>
      </div>
        <div class="inv-input">
          <%= simple_form_for [@project, @contract] do |f| %>
            <%= f.input :investment %>
            <input  type="range"
                    id="investRange"
                    class="custom-range"
                    name="investRange"
                    min="0"
                    max="100"
                    value="90"
                    step="1"
                    data-cap="<%= @project.investment_cap %>">
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div
        class="col-6"
        id="investProjectMap"
        style="width: 100%; height: 100vh;"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>


<!-- <div class="page-grid d-flex flex-column border border-beige p-4 rounded"> -->
