
  <div class="card project-card change-div my-2" style="background-image: url(<%= cl_image_path project.photo.key %>);">
    <%= link_to "", project_path(project) %>
    <span id="like-project-<%= project.id %>" class="change-icon" style="height: 0px">
      <%= render 'shared/like_unlike', project: project, user: current_user %>
    </span>

    <div class="card-body slide-up">
      <h4 class="card-title font-weight-bold text-primary"><%= project.name %></h4>
      <h5 class="card-text font-weight-bold text-info text-bold"><%= project.city %></h5>
      <div class="above-bar-info d-flex justify-content-between">
        <div class="text-left">
          <p>J -<%= (project.start_date - Date.today).to_i %></p>
        </div>
        <div class="money-total text-right">
          <h5><%= project.investment_cap %>€</h5>
        </div>
      </div>
      <div class="progress flex-grow-1" style="height: 12px;">
        <div class="progress-bar"
                 role="progressbar"
                 style="width: <%=  project.investment.fdiv(project.investment_cap) * 100 %>%"
                 aria-valuenow="<%=  project.investment.fdiv(project.investment_cap) * 100 %>"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
      </div>

      <div>
        <div class="d-flex justify-content-between my-4">
          <div class="impact-card border border-primary rounded text-center box-width d-flex flex-column justify-content-start">
            <p class="lead font-weight-bold text-info pt-2">-<%=  project.uhi %>°C</p>
            <p class="small-text">Chaleur urbain</p>
          </div>
          <div class="impact-card border border-primary rounded text-center box-width d-flex flex-column justify-content-start">
            <p class="lead font-weight-bold text-info pt-2"><%=  project.water_infiltration %>m³</p>
            <p class="small-text">Infiltration d'eau</p>
          </div>
          <div class="impact-card border border-primary rounded text-center box-width d-flex flex-column justify-content-start">
            <p class="lead font-weight-bold text-info pt-2"><%=  project.biodiversity %></p>
            <p class="small-text">Biodiversité</p>
          </div>
          <div class="impact-card border border-primary rounded text-center box-width d-flex flex-column justify-content-start">
            <p class="lead font-weight-bold text-info pt-2"><%=  project.local_food %>%</p>
            <p class="small-text">Nourriture locale</p>
          </div>
        </div>
      </div>
    </div>

  </div>
