<div class="container">
  <div class="contract-card d-flex flex-column border border-beige p-4 rounded">
    <div class="box-top">
      <h1><%= contract.project.name %></h1>
      <div class="container pb-4 pt-4">
        <div class="row">
          <div class="col text-left"><h4>Votre donation</h4></div>
          <div class="col text-right text-primary pr-4"><h4><%= contract.investment %>€</h4></div>
          <div class="col text-left pl-4"><h4>Votre Apport</h4></div>
          <div class="col text-right text-primary"><h4><%= (@perc * 100).round  %>%</h4></div>
        </div>
        <div class="row">
          <div class="col text-left"><h4>Debut Projet</h4></div>
          <div class="col text-right text-primary pr-4"><h4><%= Date.today %></h4></div>
          <div class="col text-left pl-4"><h4>Durée Projet</h4></div>
          <div class="col text-right text-primary"><h4><%= contract.project.duration %> ans</h4></div>
        </div>
      </div>
    </div>
    <div class="box-middle border-top border-beige pt-4">
      <h2>Votre Contribution écologique</h2>
      <div class="eco-contribution pb-4 pt-2 d-flex justify-content-between">
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3>-<%= (@uhi).round(1) %>°C</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Chaleur Urbain</h5>
          </div>
        </div>
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3><%= (@water_infiltration).round(1) %>m³</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Infiltration d'eau</h5>
          </div>
        </div>
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3><%= (@biodiversity).round(1) %></h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Biodiversité</h5>
          </div>
        </div>
        <div class="eco-result-box border border-primary rounded text-center">
          <div class="first-row mt-2 pt-2">
            <h3><%= (@local_food).round(1) %>%</h3>
          </div>
          <div class="second-row mb-2 pb-2">
            <h5>Nourriture Locale</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="box-bottom d-flex justify-content-center">
      <%= link_to "Envoyer Facture", send_facturation_path(contract), remote: true %>
    </div>
  </div>
</div>
