<div class="card-box d-flex flex-column border border-beige p-4 rounded">
  <div class="top-box ml-2 mr-2">
    <div class="money mb-2">
      <div class="money-collected d-flex justify-content-between">
        <div class="left">
          <h4>Montant collecté</h4>
        </div>
        <div class="right">
          <h4><%=  project.investment %>€</h4>
        </div>
      </div>
      <div class="money-total d-flex justify-content-between align-items-center">
        <div class="progress flex-grow-1 mr-4" style="height: 12px;">
          <div class="progress-bar"
               role="progressbar"
               style="width: <%=  project.investment.fdiv(project.investment_cap) * 100 %>%"
               aria-valuenow="<%=  project.investment.fdiv(project.investment_cap) * 100 %>"
               aria-valuemin="0"
               aria-valuemax="100">
          </div>
        </div>
        <div class="right">
          <h4><%= project.investment_cap %>€</h4>
        </div>
      </div>
    </div>
    <div class="info mb-2">
      <div class="days-left d-flex justify-content-between">
        <div class="left">
          <h5>Jour(s) restant(s)</h5>
        </div>
        <div class="right">
          <h5>30</h5>
        </div>
      </div>
      <div class="investors d-flex justify-content-between">
        <div class="left">
          <h5>Nombre de prêteurs</h5>
        </div>
        <div class="right">
          <h5>9</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-box border-top border-beige">
    <div class="results">
      <div class="top-results d-flex justify-content-between">
        <div class="impact-box border border-primary ml-2 rounded text-center">
          <div class="first-row">
            -2°C
          </div>
          <p>
            Chaleur Urbain
          </p>
        </div>
        <div class="impact-box border border-primary mr-2 rounded text-center">
          <div class="first-row">
            900m³
          </div>
          <p>
            Infiltration d'eau
          </p>
        </div>
      </div>
      <div class="bottom-results d-flex justify-content-between mt-2">
        <div class="impact-box border border-primary ml-2 rounded text-center">
          <div class="first-row">
            0.6
          </div>
          <p>
            Biodiversité
          </p>
        </div>
        <div class="impact-box border border-primary mr-2 rounded text-center">
          <div class="first-row">
            4.5%
          </div>
          <p>
            Nourriture Locale
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-box d-flex justify-content-center">
    <%= link_to "Je finance", new_project_contract_path(project), class: "btn btn-primary" %>
      <!-- <button type="button" class="btn btn-primary">Je finance</button> -->
  </div>

</div>
