<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :investment_cap %>
  <%= f.input :surface %>
  <%= f.input :start_date %>
  <%= f.input :duration %>
  <%= f.input :project_type, collection: ['agriculture', 'forest'] %>
  <%= f.input :longitude %>
  <%#= f.input :lattitude, input_html: { value: "", id: "lat" } %>
  <%= f.button :submit %>
<% end %>

<div
  id="createProjectMap"
  style="width: 100%;
  height: 600px;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
