<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :investment_cap %>
  <%= f.input :surface %>
  <%= f.input :start_date %>
  <%= f.input :duration %>
  <%= f.input :project_type, collection: ['agriculture', 'forest'] %>

  <%= f.input :longitude, as: :hidden %>
  <%= f.input :latitude, as: :hidden %>
  <%= f.button :submit %> <%= link_to "Submit", "#", class: "btn btn-primary text-center" %>
<% end %>

<div
  id="createProjectMap"
  style="width: 100%;
  height: 600px;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
