<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="96x96" href="favicon-96.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Humus Eco-Projets" />
    <meta property="og:type" content="ecology projects" />
    <meta property="og:url" content="https://humus-eco.herokuapp.com" />
    <meta property="og:image" content="https://humus-eco.herokuapp.com/banner_og.jpg" />

    <title>Humus Eco-Projets in France</title>
    <meta name="description" content="Investissez dans les éco-projets Humus pour que la campagne reste verte.">
    <Meta name="keywords" content="biodiversité, écologie, éco-projets, developement durable, urbanisme" >
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/humus_navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
